<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Products</h3>
                    <ul>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'new' }">New products</a>
                        </li>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'offer' }">Offers</a>
                        </li>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'latest' }">Latest products</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>About PractiStore</h3>
                    <ul>
                        <li><a routerLink="/about-us">About us</a></li>
                        <li><a routerLink="/stores">Our stores</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="box">
                    <h3>Contact</h3>
                    <mat-form-field appearance="fill">
                        <mat-label>Outline form field</mat-label>
                        <input [formControl]="emailInput" matInput placeholder="email@example.com" type="email">
                        <mat-icon matSuffix>
                            mail_outline
                        </mat-icon>
                        <!-- <mat-hint>Hint</mat-hint> -->
                        <mat-error *ngIf="emailInput.invalid">{{ getErrorMessage() }}</mat-error>
                    </mat-form-field>
                    <br>
                    <button (click)="registerMail()" [disabled]="emailInput.invalid"
                        mat-raised-button>Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>