<form [formGroup]='form' (ngSubmit)="saveProduct($event)">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Product details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName='id' matInput placeholder="Id" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName='title' matInput placeholder="Title" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input formControlName='price' matInput placeholder="Price" type="number">
                        <div *ngIf="priceField.errors && priceField.dirty">
                            <mat-error *ngIf="priceField.hasError('required')">
                                The price is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="priceField.hasError('invalid_price')">
                                The price must be higher than <strong>10.000</strong>
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea name="description" cols="30" rows="10" formControlName='description' matInput
                            placeholder="Description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Add</button>
        </mat-card-actions>
    </mat-card>
</form>